{% extends 'site/base.html' %}

{% block title %}
    Shopping List
{% endblock %}

{% block jumbocontent %}
    <h1 class="display-4">Shopping List</h1>
    <p class="lead">Items bought since last accounting.</p>
    {% if current_user.active or current_user.admin %}
        <a href="{{ url_for('shopping_list.new') }}" class="btn btn-info">New Shopping Entry</a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="card col-lg-12">
                <div class="card-body">
                    <h5 class="card-title">Bought Items</h5>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Payee</th>
                            <th>Item</th>
                            <th>Amount</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for shopping_list_entry in shopping_list_entries %}
                            {% for item in shopping_list_entry.items %}
                                <tr class="clickable-row"
                                    data-href="{{ url_for('shopping_list.entry', shopping_id=shopping_list_entry.id) }}">
                                    <td>{% if loop.first %}{{ shopping_list_entry.date | datetime() }}{% endif %}</td>
                                    <td>{% if loop.first %}{{ shopping_list_entry.payee.name }}{% endif %}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.amount }}</td>
                                    <td>{{ item.price }} DKK.</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}