{% extends 'site/base.html' %}

{% block title %}
    Shopping List
{% endblock %}

{% block jumbocontent %}
    <h1 class="display-4">Shopping List</h1>
    <p class="lead">Items bought since last accounting.</p>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mb-2">
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header bg-white">
                        <h5 class="card-title">Wanted Items</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {% if needed_items %}
                                {% for needed_item in needed_items %}
                                    <li class="list-group-item">{{ needed_item.item_name }}
                                        {% if current_user.active %}
                                            <a href="{{ url_for('shopping_list.remove_needed_item', needed_item_id=needed_item.id) }}"
                                               class="close"
                                               aria-label="Close" id="remove_needed_item" name="remove_needed_item">
                                                <span aria-hidden="false"> &times; </span>
                                            </a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            {% else %}
                                <li class="list-group-item">Great! We do not need any items!</li>
                            {% endif %}
                        </ul>
                    </div>
                    {% if current_user.active or current_user.admin %}
                        <div class="card-footer">
                            <button class="btn btn-info btn-md" data-toggle="modal" data-target="#add_needed_item">Add
                                Item
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-9">
                <div class="card">
                    <div class="card-header bg-white">
                        <h5 class="card-title">Bought Items</h5>
                    </div>
                    <div class="card-body">
                        {% if shopping_list_entries and shopping_list_entries|length > 0 %}
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Payee</th>
                                    <th>Item</th>
                                    <th>Amount</th>
                                    <th>Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for shopping_list_entry in shopping_list_entries %}
                                    {% for item in shopping_list_entry.items %}
                                        {% if current_user.active %}
                                            <tr class="clickable-row"
                                                data-href="{{ url_for('shopping_list.entry', shopping_id=shopping_list_entry.id) }}">
                                                <td>{% if loop.first %}
                                                    {{ shopping_list_entry.date | datetime() }}{% endif %}</td>
                                                <td>{% if loop.first %}
                                                    {{ shopping_list_entry.payee.name }}{% endif %}</td>
                                                <td>{{ item.name }}</td>
                                                <td>{{ item.amount }}</td>
                                                <td>{{ item.price * item.amount }} DKK.</td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td>{% if loop.first %}
                                                    {{ shopping_list_entry.date | datetime() }}{% endif %}</td>
                                                <td>{% if loop.first %}
                                                    {{ shopping_list_entry.payee.name }}{% endif %}</td>
                                                <td>{{ item.name }}</td>
                                                <td>{{ item.amount }}</td>
                                                <td>{{ item.price }} DKK.</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p class="card-text">No items bought yet.</p>
                        {% endif %}
                    </div>
                    {% if current_user.active or current_user.admin %}
                        <div class="card-footer text-right">
                            <a href="{{ url_for('shopping_list.new') }}" class="btn btn-info">Add Items</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include 'shopping_list/add_needed_item.html' %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}