{#CSRF-token#}
<div class="form-group">
    {{ form.hidden_tag() }}
</div>

{#Name#}
<div class="form-group row">
    <label for="name" class="col-lg-3 col-form-label">Item Name</label>
    <div class="col-lg-9">
        <input type="text" name="name" placeholder="name" class="form-control" id="name" list="item_list"
               required="required" aria-describedby="nameHelpBlock" autofocus="autofocus" autocomplete="off">

        <datalist class="form-control" id="item_list">
            {% for needed_item in needed_items %}
                <option value="{{ needed_item.item_name }}"></option>
            {% endfor %}
        </datalist>

        <span id="nameHelpBlock" class="form-text text-muted">The name of the item you bought.</span>
    </div>
</div>

{#Amount#}
<div class="form-group row">
    <label for="amount" class="col-lg-3 col-form-label">Amount bought</label>
    <div class="col-lg-9">
        <input type="text" name="amount" placeholder="amount" class="form-control" id="amount"
               value="1" required="required" aria-describedby="amountHelpBlock">
        <span id="amountHelpBlock"
              class="form-text text-muted">How many did you buy? Or how many kgs.</span>
    </div>
</div>

{#Price#}
<div class="form-group row">
    <label for="price" class="col-lg-3 col-form-label">Unit Price</label>
    <div class="col-lg-9">
        <input type="number" step="any" min="0" name="price" placeholder="unit price" class="form-control"
               id="price" value="" required="required" aria-describedby="priceHelpBlock">
        <span id="priceHelpBlock" class="form-text text-muted">
                    The cost pr. amount (unit price), fx. if you bought 2 bottles of soap, and entered amount 2,
                    then enter the price of 1 bottle..</span>
    </div>
</div>

{# Submit #}
<div class="form-group row">
    <div class="offset-lg-3 col-lg-9">
        <button class="btn btn-lg btn-block btn-info" type="submit">Add Item to list.</button>
    </div>
</div>

<!--
<script>
    $(function () {
        $("#name").popSelect({
            showTitle: false
        });
    });
</script>
-->