{% extends 'site/base.html' %}

{% block title %}
    Add items for the shopping entry on {{ shopping.date | datetime() }}
{% endblock %}

{% block jumbocontent %}
    <h1 class="display-4">{{ shopping.date | datetime() }}</h1>
    <p class="lead">What items did you buy?</p>
    <a class="btn btn-light" href="{{ url_for('shopping_list.index') }}">Go back</a>
{% endblock %}

{% block content %}
    {#Existing items bought on that date.#}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Bought items</h5>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="card-text text-muted">Name</th>
                        <th class="card-text text-muted">Amount</th>
                        <th class="card-text text-muted">Unit Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in shopping.items %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.amount }}</td>
                            <td>{{ item.price }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        {#New items (form)#}
        <form action="{{ url_for('shopping_list.items_new', shopping_id=shopping.id) }}" method="post">
            {% include 'shopping_list/new_item_form.html' %}
        </form>
    </div>


{% endblock %}