{% extends 'site/base.html' %}

{% block title %}
    Entry
{% endblock %}

{% block jumbocontent %}
    <h1 class="display-4">{{ entry.payee.name }}, {{ entry.date | datetime() }}</h1>
    <p class="lead">These are the items bought by {{ entry.payee.name }} on
        {{ entry.date.strftime("%A the %d. of %B, %Y" ) }}</p>
    <a href="{{ url_for('shopping_list.edit', shopping_id=entry.id ) }}" class="btn btn-info">Edit</a>
    <a href="{{ url_for('shopping_list.delete', shopping_id=entry.id) }}" class="btn btn-danger">Delete</a>
    <a class="btn btn-light" href="{{ url_for('shopping_list.index') }}">Go back</a>
{% endblock %}

{% block content %}
    {#Existing items bought on that date.#}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Bought items</h5>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="card-text text-muted">Name</th>
                        <th class="card-text text-muted">Amount</th>
                        <th class="card-text text-muted">Unit Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in entry.items %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.amount }}</td>
                            <td>{{ item.price }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}