<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} - KK24</title>
        {% include 'favicon.html' %}
        {% include 'site/imports.html' %}
    {% endblock %}
</head>
<body>
{% include 'site/nav.html' %}

{% block jumbotron %}
    <div class="parallax"></div>
    <div class="jumbotron">
        <div class="container">
            {% block jumbocontent %}
            {% endblock %}
        </div>
    </div>
    <div class="parallax"></div>
{% endblock %}

<div class="container">
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul class="flashes {{ messages[0][0] }} list-unstyled">
                {% for message in messages %}
                    <li>{{ message[1] }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>

{% block content %}{% endblock %}

{% block footer %}
    <div class="spacer"></div>
    <footer class="footer">
        <div class="container">
            <span class="text-white">© 2018 | <a href="https://github.com/nymann/Accountant" class="text-white">Accountant</a></span>
        </div>
    </footer>
{% endblock %}


</body>
{% block scripts %}{% endblock %}
</html>