{% extends 'site/base.html' %}

{% block title %}Profile{% endblock %}

{% block jumbocontent %}
    <h1 class="display-4">Accountant developer site</h1>
    <p class="lead">This site is under 'development' ;-)</p>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header bg-white">
                        <h5 class="card-title">API token for {{ username }}</h5>
                    </div>
                    <div class="card-body bg-white">
                        <input type="text" value="{{ apitoken }}" id="apitoken_field"
                               readonly class="form-control-plaintext">
                    </div>
                    <div class="card-footer">
                        <button id="copyButton" onclick="copyText()" class="btn btn-info" type="button" data-toggle="tooltip"
                                data-placement="bottom" title="Copy API token">
                            <i class="far fa-copy"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        function copyText() {
            var copyText = document.getElementById("apitoken_field");
            copyText.select();
            document.execCommand("copy");
            copyText.selection.empty();
        }

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}

