{% extends 'site/base.html' %}

{% block title %}Køkken 24{% endblock %}

{% block jumbocontent %}
    <h1 class="display-3">Welcome to KK24's website</h1>
    <p class="lead">Need an quick overview?</p>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="card-body">
                    <h5 class="card-title">Next meeting</h5>
                    {% if event %}
                        <h3>{{ event.date }}</h3>
                    {% else %}
                        <h3>There no date yet, go make one</h3>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card-body">
                    {% if latest_dinner %}
                        {% set g = latest_dinner.guests | sum(attribute='number_of_guests') %}
                        <h5 class="card-title">Most recent meal</h5>

                        <h6 class="card-subtitle text-muted">{{ latest_dinner.date.strftime('%d/%m/%Y') }}, {{ latest_dinner.payee.name|truncate(20, True) }}</h6>
                        <p class="card-text">On {{ latest_dinner.date.strftime('%A the %d. of %b') }}, we had
                            <b>{{ latest_dinner.dish_name }}</b> for dinner.</p>
                        <p class="card-text">{{ g + latest_dinner.participants|length }}
                            attended ({{ g }} guests).</p>

                        <p class="card-text">{{ latest_dinner.price }} kr.
                            ({{ (latest_dinner.price/(g + latest_dinner.participants|length))|round(2) }}
                            kr. pr. person)</p>
                    {% else %}
                        <h3>There meals yet, go make one</h3>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card-body">
                    Empty
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card-body">
                    Empty
                </div>
            </div>
        </div>
    </div>
{% endblock %}