{# Cascading Style Sheets#}
<link rel="stylesheet" href="{{ url_for('static', filename='lib/css/bootstrap.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link href="{{ url_for('static', filename='lib/bootstrap-datepicker/css/bootstrap-datepicker.css') }}" rel="stylesheet">

{# Javascript Files #}
<script src="{{ url_for('static', filename='lib/js/jquery-3.3.1.js') }}"></script>

<script src="{{ url_for('static', filename='lib/js/bootstrap.bundle.js') }}"></script>

<script src="{{ url_for('static', filename='lib/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
<script src="{{ url_for('static', filename='lib/bootstrap-datepicker/locales/bootstrap-datepicker.da.min.js') }}"></script>


{# Libs #}
<script src="{{ url_for('static', filename='lib/popSelect/jquery.popSelect.js') }}"></script>
<link href="{{ url_for('static', filename='lib/popSelect/jquery.popSelect.css') }}" rel="stylesheet">