{# Cascading Style Sheets#}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


{#LIBRARIES#}
{# Jquery #}
<script src="{{ url_for('static', filename='lib/js/jquery-3.3.1.js') }}"></script>

{#Moment#}
{#<script src="{{ url_for('static', filename='lib/moment/moment.js') }}"></script>#}

{# bootstrap #}
<script src="{{ url_for('static', filename='lib/js/bootstrap.bundle.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='lib/css/bootstrap.css') }}">

{# bootstrap-datepicker #}
<link href="{{ url_for('static', filename='lib/bootstrap-datepicker/css/bootstrap-datepicker.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='lib/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
<script src="{{ url_for('static', filename='lib/bootstrap-datepicker/locales/bootstrap-datepicker.da.min.js') }}"></script>

{#PopSelect#}
<script src="{{ url_for('static', filename='lib/popSelect/jquery.popSelect.js') }}"></script>
<link href="{{ url_for('static', filename='lib/popSelect/jquery.popSelect.css') }}" rel="stylesheet">

{#FullCalendar#}
{#<script src="{{ url_for('static', filename='lib/fullcalendar-3.9.0/fullcalendar.js') }}"></script>#}
{#<script src="{{ url_for('static', filename='lib/fullcalendar-3.9.0/locale/da.js') }}"></script>#}
{#<link href="{{ url_for('static', filename='lib/fullcalendar-3.9.0/fullcalendar.css') }}" rel="stylesheet">#}
{#<link href="{{ url_for('static', filename='lib/fullcalendar-3.9.0/fullcalendar.print.css') }}" rel="stylesheet">#}

