{% extends 'site/base.html' %}

{% block title %}Index{% endblock %}

{% block jumbocontent %}
    <h1 class="display-4">KK24</h1>
    <p class="lead">This is happening at KK24</p>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-6">
                <div class="card">
                    <div class="card-header bg-white">
                        <h5 class="card-title">Latest accountant report</h5>
                    </div>
                    <div class="card-body">
                        <a href="{{ url_for('site.report', report_id=report.id) }}">{{ report.date|datetime() }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row match-height">
            <div class="col-lg-4 mb-2">
                <div class="card h-100">
                    <div class="card-header bg-white">
                        <h5 class="card-title">Next meeting</h5>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle text-muted">
                            {% if event and current_user.active %}
                                {{ event.date|datetime() }}
                            {% else %}
                                Nothing scheduled
                            {% endif %}
                        </h6>
                        <ul class="list-unstyled">
                            {% for topic in topics %}
                                <li class="card-text">{{ topic.topic }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class=" col-lg-4 mb-2">
                <div class="card h-100">
                    <div class="card-header bg-white">
                        <h5 class="card-title">Next meal</h5>
                    </div>
                    <div class="card-body">
                        {% if next_dinner %}
                            {% set g = next_dinner.guests | sum(attribute='number_of_guests') %}
                            <h6 class="card-subtitle text-muted">
                                {{ next_dinner.madtid.strftime('%d/%m/%Y') }},
                                {{ next_dinner.payee.name|truncate(20, True) }}
                            </h6>
                            <p class="card-text">
                                On {{ next_dinner.madtid.strftime('%A the %d. of %b') }}, we will have
                                <b>{{ next_dinner.dish_name }}</b> for dinner.
                            </p>
                            <p class="card-text">
                                {{ g + next_dinner.participants|length }}
                                attended ({{ g }} guests).
                            </p>
                            {% if next_dinner.participants|length > 0 %}
                                <p class="card-text">{{ next_dinner.price }} kr.
                                    {#                                    ({{ (next_dinner.price/(g + next_dinner.participants|length))|round(2) }}#}
                                    kr. pr. person)</p>
                            {% else %}
                                <p class="card-text">Can't calculate price. There are no participants.</p>
                            {% endif %}
                        {% else %}
                            <h6 class="card-subtitle text-muted">No meals registered</h6>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-2">
                <div class="card h-100">
                    <div class="card-header bg-white">
                        <h5 class="card-title">Latest shopping entry</h5>
                    </div>
                    <div class="card-body">
                        {% if purchase %}
                            <h6 class="card-subtitle text-muted">{{ purchase.payee.name|truncate(length=20, killwords=True) }}, {{ purchase.date | datetime() }}</h6>
                            <ul class="list-unstyled">
                                {% for item in purchase.items %}
                                    <li>{{ item.name }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <h6 class="card-subtitle text-muted">No items bought</h6>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Leaderboards</h3>
                {% if beverage_stats|length == 0 %}
                    <p>There is no beverage stats to show... Go drink some beer, will you?</p>
                {% else %}
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Beverages Consumed</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for stat in beverage_stats %}
                            <tr>
                                <td>
                                    <a href="{{ url_for('site.profile', user_id=stat.user_id) }}">
                                        {% if loop.first %}
                                            <i class="fas fa-trophy"></i>
                                        {% endif %}{{ stat.user_name }}
                                    </a>
                                </td>
                                <td>{{ stat.consumed }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Dinners paid</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dinner in dinners_paid %}
                        <tr>
                            <td>
                                <a href="{{ url_for('site.profile', user_id=dinner.user_id) }}">
                                    {% if loop.first %}
                                        <i class="fas fa-trophy"></i>
                                    {% endif %}{{ dinner.user_name }}
                                </a>
                            </td>
                            <td>{{ dinner.paid }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}