{% extends 'site/base.html' %}

{% block title %}
    Login
{% endblock %}

{% block jumbocontent %}
    <h1 class="display-4">How do you want to login?</h1>
    <p class="lead">We support major providers, no passwords are stored.</p>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <a href="{{ url_for('facebook.login') }}">
                        <img src="{{ url_for('static', filename='img/facebook_logo.png') }}"
                             alt="Continue with Facebook"
                             class="card-img-top img-fluid">
                    </a>
                </div>
                <div class="card-footer">
                    <h6 class="card-subtitle">Continue with Facebook</h6>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <a href="{{ url_for('github.login') }}">
                        <img class="card-img-top img-fluid"
                             src="{{ url_for('static', filename='img/GitHub_Logo.png') }}"
                             alt="Continue with GitHub">
                    </a>
                </div>
                <div class="card-footer">
                    <h6 class="card-subtitle">Continue with GitHub</h6>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <a href="{{ url_for('twitter.login') }}">
                        <img class="card-img-top img-fluid"
                             src="{{ url_for('static', filename='img/Twitter_Logo_Blue.png') }}"
                             alt="Continue with GitHub">
                    </a>
                </div>
                <div class="card-footer">
                    <h6 class="card-subtitle">Continue with Twitter</h6>
                </div>
            </div>
        </div>
    </div>
{% endblock %}