{% extends 'site/base.html' %}

{% block title %}Profile{% endblock %}

{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div>
                        {% if user.picture_url %}
                            <img src="{{ url_for('static', filename='avatars/' + user.picture_url) }}"
                                 alt="Profile picture for {{ user.name }}" class="img-thumbnail">
                        {% else %}
                            <img src="http://via.placeholder.com/350x350" class="img-thumbnail">
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-8">
                    <h4>{{ user.name }}</h4>
                    <div class="mt-lg-4">
                        <h6 class="card-subtitle" style="opacity: 0.8;">
                            {% if user.phone_number %}
                                {{ user.phone_number }}
                                <i class="fas fa-mobile-alt mr-lg-4 mt-lg-2"></i>
                            {% endif %}</h6>
                    </div>
                    <div class="mt-lg-1">
                        <h6 class="card-subtitle" style="opacity: 0.8;">
                            {{ user.move_in_date.strftime("%d. of %B %Y") }}
                            <i class="fas fa-home ml-lg-2 mt-lg-2"></i>
                        </h6>
                    </div>
                    <div class="mt-lg-1">
                        {% if user.active %}
                            <h6 class=card-subtitle" style="opacity: 0.8;">
                                {% if user.room_number %}
                                    Lives in room no. {{ user.room_number }}
                                {% endif %}
                            </h6>
                        {% endif %}
                    </div>
                </div>
                {% if current_user.id==user.id or current_user.admin %}
                    <div class="col-lg-2 text-right">
                        <button type="button" class="btn btn-outline-light" data-toggle="modal"
                                data-target="#updateSettingsForm">
                            <i class="fas fa-cog" style="font-size: 1.5em;opacity: 0.9;"></i>
                        </button>
                    </div>
                {% endif %}

            </div>
            <div class="row mt-lg-4">
                <div class="col-lg-9">
                    <div style="font-size: 2.5em; opacity:0.4;">
                        {% for oauth in oauths %}
                            <i class="fab fa-{{ oauth.provider }} mr-lg-2"></i>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="updateSettingsForm" tabindex="-1" role="dialog"
         aria-labelledby="updateSettingsFormTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateSettingsFormLongTitle"><i
                            class="fas fa-address-book mr-2"></i>{{ user.name }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12">
                        {% include 'site/user_form.html' %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-info" id="save">Save</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Total Balance -->
    <div class="container">
        <div class="row mb-2">
            <div class="col-lg-3 mb-1">
                <div class="card">
                    <div class="card-header bg-white">
                        <h5 class="card-title">Total Balance</h5>
                        <h6 class="card-subtitle text-muted">Since the last report</h6>
                    </div>
                    <div class="card-body">
                        <p class="card-text green">Income: {{ (user_helper.total_income())|round(2) }} DKK</p>
                        {% set total_expenses = user_helper.total_expenses()|round(2) %}
                        {% if total_expenses > 0 %}
                            <p class="card-text text-danger">Expenses: {{ total_expenses }} DKK</p>
                        {% else %}
                            <p class="card-text green">Expenses: {{ total_expenses }} DKK</p>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        {% set total_balance = user_helper.total_balance()|round(2) %}
                        {% if total_balance < 0 %}
                            <h3 class="card-title text-danger">{{ total_balance }} DKK</h3>
                        {% else %}
                            <h3 class="card-title green">{{ total_balance }} DKK</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <!-- Dinner Club Balance -->
    <div class="container">
        <div class="row mb-2">
            <div class="col-lg-3 mb-1">
                <div class="card">
                    <div class="card-header bg-white">
                        <h5 class="card-title">Dinner Club Balance</h5>
                        <h6 class="card-subtitle text-muted">Since the last report</h6>
                    </div>
                    <div class="card-body">
                        <p class="card-text green">Income: {{ user_helper.dinner_income()|round(2) }} DKK</p>
                        {% set dinner_expenses = user_helper.dinner_expenses()|round(2) %}
                        {% if dinner_expenses > 0 %}
                            <p class="card-text text-danger">Expenses: {{ dinner_expenses }} DKK</p>
                        {% else %}
                            <p class="card-text green">Expenses: {{ dinner_expenses }} DKK</p>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        {% set dinner_balance = user_helper.dinner_balance()|round(2) %}
                        {% if dinner_balance < 0 %}
                            <h3 class="card-title text-danger">{{ dinner_balance }} DKK</h3>
                        {% else %}
                            <h3 class="card-title green">{{ dinner_balance }} DKK</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-9 mb-1">
                <div class="card bg-white">
                    <div class="card-header bg-white">
                        <h5 class="card-title">Dinner Club</h5>
                        <h6 class="card-subtitle text-muted">Non-accounted meals that {{ user.name }} took part of.</h6>
                    </div>
                    <div class="card-body">
                        <table class="table" id="dinnerTable">
                            <tbody>
                            {% for dinner in user.dinners %}
                                {% if dinner.accounting_id == None %}
                                    <tr class="clickable-row"
                                        data-href="{{ url_for('dinner_club.meal', dinner_id=dinner.id) }}">
                                        <td class="text-muted">{{ dinner.madtid.strftime("%d/%m/%Y") }}</td>
                                        <td class="text-muted">{{ dinner.payee.name|truncate(15, True) }}</td>
                                        <td class="text-muted">{{ dinner.guests|length + dinner.participants|length }}
                                            attended
                                        </td>
                                        <td class="text-muted">{{ dinner.dish_name }}</td>
                                        <td class="text-muted">{{ dinner.price }} kr.</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <!-- Shopping List Balance -->
    <div class="container">
        <div class="row mb-2">
            <div class="col-lg-3 mb-1">
                <div class="card">
                    <div class="card-header bg-white">
                        <h5 class="card-title">Shopping List Balance</h5>
                        <h6 class="card-subtitle text-muted">Since the last report</h6>
                    </div>
                    <div class="card-body">
                        <p class="card-text green">Income: {{ user_helper.shopping_income()|round(2) }} DKK</p>
                        {% set shopping_expenses = user_helper.shopping_expenses()|round(2) %}
                        {% if shopping_expenses > 0 %}
                            <p class="card-text text-danger">Expenses: {{ shopping_expenses }} DKK</p>
                        {% else %}
                            <p class="card-text green">Expenses: {{ shopping_expenses }} DKK</p>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        {% set shopping_balance = user_helper.shopping_balance()|round(2) %}
                        {% if shopping_balance < 0 %}
                            <h3 class="card-title text-danger">{{ shopping_balance }}
                                DKK</h3>
                        {% else %}
                            <h3 class="card-title green">{{ shopping_balance }} DKK</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-9 mb-1">
                <div class="card bg-white">
                    <div class="card-header bg-white">
                        <h5 class="card-title">Shopping List</h5>
                        <h6 class="card-subtitle text-muted">Items bought by {{ user.name }}.</h6>
                    </div>
                    <div class="card-body">
                        <table class="table" id="shoppingTable">
                            <tbody>
                            {% for shopping_list_entry in shopping_list_entries %}
                                {% for item in shopping_list_entry.items %}
                                    <tr class="clickable-row"
                                        data-href="{{ url_for('shopping_list.entry', shopping_id=shopping_list_entry.id) }}">
                                        <td>{% if loop.first %}
                                            {{ shopping_list_entry.date | datetime() }}{% endif %}</td>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.amount }}</td>
                                        <td>{{ item.price|round(2) }} DKK.</td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <!-- Beverage club -->
    <div class="container">
        <div class="row mb-2">
            <div class="col-lg-3 mb-1">
                <div class="card">
                    <div class="card-header bg-white">
                        <h5 class="card-title">Beverage Balance</h5>
                        <h6 class="card-subtitle text-muted">Since the last report</h6>
                    </div>
                    <div class="card-body">
                        <p class="card-text green">Income: {{ user_helper.beverage_income()|round(2) }} DKK</p>
                        {% set beverage_expenses = user_helper.beverage_expenses()|round(2) %}
                        {% if beverage_expenses > 0 %}
                            <p class="card-text text-danger">Expenses: {{ beverage_expenses }} DKK</p>
                        {% else %}
                            <p class="card-text green">Expenses: {{ beverage_expenses }} DKK</p>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        {% set beverage_balance = user_helper.beverage_balance()|round(2) %}
                        {% if beverage_balance < 0 %}
                            <h3 class="card-title text-danger">{{ beverage_balance }} DKK</h3>
                        {% else %}
                            <h3 class="card-title green">{{ beverage_balance }} DKK</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-9 mb-1">
                <div class="card bg-white">
                    <div class="card-header bg-white">
                        <h5 class="card-title">Beverage Club</h5>
                        <h6 class="card-subtitle text-muted">Beverages bought by {{ user.name }}.</h6>
                    </div>
                    <div class="card-body">
                        <table class="table" id="beverageTable">
                            <tbody>
                            {% for beverage in beverages_bought %}
                                <tr>
                                    <td>{{ beverage.type }}</td>
                                    <td>{{ beverage.count }}</td>
                                    <td>{{ beverage.name }}</td>
                                    <td>{{ beverage.price|round(2) }} DKK.</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $('#save').click(function () {
            $('#userForm').submit();
        });

        $('#move_out_date, #move_in_date').datepicker({
            uiLibrary: 'bootstrap4',
            format: "dd/mm/yyyy",
            todayBtn: "linked",
            language: "da",
            calendarWeeks: true,
            autoclose: true
        });

        $(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
        });

        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#preview').attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#picture").change(function () {
            readURL(this);
        });
    </script>
{% endblock %}
