{% extends 'site/base.html' %}

{% block title %}Profile{% endblock %}

{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div>
                        {% if user.picture_url %}
                            <img src="{{ url_for('static', filename='avatars/' + user.picture_url) }}"
                                 alt="Profile picture for {{ user.name }}" class="img-thumbnail">
                        {% else %}
                            <img src="http://via.placeholder.com/350x350" class="img-thumbnail">
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>{{ user.name }}</h4>
                </div>
                <div class="offset-2 col-lg-3">
                    <h6 class="card-subtitle">{% if user.phone_number %}{{ user.phone_number }}{% endif %}</h6>
                    <ul class="list-unstyled">
                        <li class="card-text">Moved in the {{ user.move_in_date.strftime("%d. of %B %Y") }}</li>
                        <li class="card-text">Lives in room no. {{ user.room_number }}</li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#updateSettingsForm">
                        Update Information
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    {% if user.active %}
                        <br/>
                        <h5 class="text-info">Active</h5>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="updateSettingsForm" tabindex="-1" role="dialog"
         aria-labelledby="updateSettingsFormTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateSettingsFormLongTitle">Editing user information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12">
                        {% include 'site/user_form.html' %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="save">Save</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mb-2">
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Dinner Club Balance</h5>
                        <h6 class="card-subtitle text-muted">Since last accounting-report</h6>
                        <br>
                        <p class="card-text green">Income: {{ dinner_income|round(2) }} DKK</p>
                        {% if dinner_expenses > 0 %}
                            <p class="card-text text-danger">Expenses: {{ dinner_expenses|round(2) }} DKK</p>
                        {% else %}
                            <p class="card-text green">Expenses: {{ dinner_expenses|round(2) }} DKK</p>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        {% if dinner_expenses > dinner_income %}
                            <h3 class="card-title text-danger">{{ (dinner_income - dinner_expenses)|round(2) }} DKK</h3>
                        {% else %}
                            <h3 class="card-title green">{{ (dinner_income - dinner_expenses)|round(2) }} DKK</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="card bg-white">
                    <div class="card-body">
                        <h5 class="card-title">Dinner Club</h5>
                        <p class="card-subtitle">Non-accounted meals that {{ user.name }} took part of.</p>
                        <table class="table" id="dinnerTable">
                            <tbody>
                            {% for dinner in user.dinners %}
                                {% if not dinner.accounted %}
                                    <tr class="clickable-row"
                                        data-href="{{ url_for('dinner_club.meal', dinner_id=dinner.id) }}">
                                        <td class="text-muted">{{ dinner.date.strftime("%d/%m/%Y") }}</td>
                                        <td class="text-muted">{{ dinner.payee.name|truncate(15, True) }}</td>
                                        <td class="text-muted">{{ dinner.guests|length + dinner.participants|length }}
                                            attended
                                        </td>
                                        <td class="text-muted">{{ dinner.dish_name }}</td>
                                        <td class="text-muted">{{ dinner.price }} kr.</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Shopping List Balance</h5>
                        <h6 class="card-subtitle text-muted">Since the last accounting-report</h6>
                        <br>
                        <p class="card-text green">Income: {{ shopping_income|round(2) }} DKK</p>
                        {% if dinner_expenses > 0 %}
                            <p class="card-text text-danger">Expenses: {{ shopping_expenses|round(2) }} DKK</p>
                        {% else %}
                            <p class="card-text green">Expenses: {{ shopping_expenses|round(2) }} DKK</p>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        {% if shopping_expenses > shopping_income %}
                            <h3 class="card-title text-danger">{{ (shopping_income - shopping_expenses)|round(2) }}
                                DKK</h3>
                        {% else %}
                            <h3 class="card-title green">{{ (shopping_income - shopping_expenses)|round(2) }} DKK</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="card bg-white">
                    <div class="card-body">
                        <h5 class="card-title">Shopping List</h5>
                        <p class="card-subtitle text-muted">Items bought by {{ user.name }}.</p>
                        <table class="table" id="shoppingTable">
                            <tbody>
                            {% for shopping_list_entry in shopping_list_entries %}
                                {% for item in shopping_list_entry.items %}
                                    <tr class="clickable-row"
                                        data-href="{{ url_for('shopping_list.entry', shopping_id=shopping_list_entry.id) }}">
                                        <td>{% if loop.first %}
                                            {{ shopping_list_entry.date | datetime() }}{% endif %}</td>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.amount }}</td>
                                        <td>{{ item.price|round(2) }} DKK.</td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $('#save').click(function () {
            $('#userForm').submit();
        });

        $('#move_out_date, #move_in_date').datepicker({
            uiLibrary: 'bootstrap4',
            format: "dd/mm/yyyy",
            todayBtn: "linked",
            language: "da",
            calendarWeeks: true,
            autoclose: true
        });

        $(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}
