{% extends 'site/base.html' %}

{% block title %}Residents{% endblock %}

{% block jumbocontent %}
    <h1 class="display-3">Residents</h1>
    <p class="lead">Who's currently living on KK24 at Bergsøe?</p>
{% endblock %}

{% block content %}
    <div class="container">
        {% if active_residents %}
            <h5>Active members</h5>
            <ul class="list-unstyled">
                {% for user in active_residents %}
                    <li><a href="{{ url_for('site.profile', user_id=user.id) }}">{{ user.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <h5>There's no active residents</h5>
            <p>Do you think this is a mistake? </p>
            <a href="mailto:nymannjakobsen@gmail.com" class="btn btn-info">Contact admin</a>
        {% endif %}
        <hr/>
        <h5>Past members</h5>
        <ul class="list-unstyled">
            {% for user in inactive_residents %}
                <li><a href="{{ url_for('site.profile', user_id=user.id) }}">{{ user.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}