{% extends 'site/base.html' %}

{% block title %}
    New Beverage
{% endblock %}

{% block jumbocontent %}
    <h1 class="display-4">Beverage</h1>
    <p>Here you can add new Beverage</p>
{% endblock %}

{% block content %}
    <div class="container">
        {% if beverage_types %}
            <form action="{{ url_for('beverage_club.new_beverage') }}" class="form-group" method="POST">
                {# CSRF TOKEN #}
                <div class="form-group">
                    {{ form_beverage.hidden_tag() }}
                </div>

                {# NAME #}
                <div class="form-group offset-lg-2 col-lg-8">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text append-text">Beverage name</span>
                        </div>
                        <input class="form-control" type="text" placeholder="Insert beverage name here..." id="name"
                               name="name"
                               required="required">
                    </div>
                </div>

                {# TYPE #}
                <div class="form-group offset-lg-2 col-lg-8">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text append-text">Beverage type</span>
                        </div>
                        <select class="custom-select" id="type" name="type">
                            {% for beverage_type in beverage_types %}
                                <option value="{{ beverage_type.id }}">{{ beverage_type.type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>


                {# CONTENT #}
                <div class="form-group offset-lg-2 col-lg-8">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text append-text">Contents in cl.</span>
                        </div>
                        <input class="form-control" type="number" placeholder="Beverage Content" id="contents"
                               name="contents"
                               required="required" min="0" max="100">
                    </div>
                </div>

                {# Submit #}
                <div class="form-group offset-lg-2 col-lg-8">
                    <button class="btn btn-lg btn-block btn-info" type="submit">Add</button>
                </div>
            </form>
            <div class="offset-lg-2 col-lg-8">
                <hr>
            </div>
        {% endif %}


        <label for="type" class="offset-lg-2 col-lg-3 col-form-label">Add beverage type</label>

        <form action="{{ url_for('beverage_club.new_beverage_type') }}" class="form-group" method="POST">

            {# CSRF TOKEN #}
            <div class="form-group row">
                {{ form_beverage_type.hidden_tag() }}
            </div>

            {# TYPE #}
            <div class="form-group offset-lg-2 col-lg-8">
                <div class="input-group">
                    <div class="input-group-prepend append-text">
                        <span class="input-group-text">Beverage type</span>
                    </div>
                    <input class="form-control" type="text" placeholder="Beverage Type" id="type_new" name="type_new">
                </div>
            </div>

            {# Submit #}
            <div class="form-group offset-lg-2 col-lg-8">
                <button class="btn btn-lg btn-block btn-info" type="submit">Add</button>
            </div>
        </form>
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <div class="card bg-white">
                    <div class="card-body">
                        <h5 class="card-title">Already existing beverages</h5>
                        <ul class="list-group list-group-flush">
                            {% if beverages %}
                                {% for beverage in beverages %}
                                    <li class="list-group-item">{{ beverage.name }}</li>
                                {% endfor %}
                            {% else %}
                                <h6>There are no beverages</h6>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card bg-white">
                    <div class="card-body">
                        <h5 class="card-title">Already existing beverage types</h5>
                        <ul class="list-group list-group-flush">
                            {% if beverage_types %}
                                {% for beverage_type in beverage_types %}
                                    <li class="list-group-item">{{ beverage_type.type }}</li>
                                {% endfor %}
                            {% else %}
                                <h6>There are no beverage types</h6>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(function () {
            $("#type").popSelect({
                showTitle: false,
                maxAllowed: 1
            });
        });
    </script>
{% endblock %}