{% extends 'site/base.html' %}

{% block title %}
    Beverage Club
{% endblock %}

{% block jumbocontent %}
    <h1 class="display-4">Beverage Club</h1>
    <p class="lead">Here you can add beverage to your tab. Let's GO!</p>
    <button class="btn btn-info" data-toggle="modal" data-target="#moredrinkers">Add more payees</button>
    <a href="{{ url_for('beverage_club.new_beverage') }}" class="btn btn-info">Add beverage</a>
    <a href="{{ url_for('beverage_club.new_beverage_batch') }}" class="btn btn-info">Add Beverage Batch</a>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

            {% for beverage in beverages %}
                <div class="col-lg-3">
                    <button class="btn btn-block btn-info" value="{{ beverage.id }}">{{ beverage.name }}</button>
                </div>
            {% endfor %}
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-3">
                <div class="card bg-white">
                    <div class="card-body">
                        <h5 class="card-title">Choose another beverage</h5>
                        <div class="dropdown">
                            <button class="btn btn-block btn-info dropdown-toggle" type="button" id="#"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Main
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a href="#" class="dropdown-item">Item 1</a>
                            </div>
                        </div>
                        <br>
                        <button class="btn btn-block btn-info">Submit</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card bg-white">
                    <div class="card-body">
                        <h5 class="card-title">Statistics</h5>
                        <h6 class="card-subtitle">Waow</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card bg-white">
                    <div class="card-body">
                        <h5 class="card-title">Some kind of graph</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'beverage_club/beveragepayees.html' %}
{% endblock %}
