{% extends 'site/base.html' %}

{% block title %}
    Beverage Club
{% endblock %}

{% block jumbocontent %}
    <h1 class="display-4">Beverage Club</h1>
    <p class="lead">Here you can add beverage to your tab. Let's GO!</p>
    <button class="btn btn-info" data-toggle="modal" data-target="#moredrinkers">Add more payees</button>
    <a href="{{ url_for('beverage_club.new_beverage') }}" class="btn btn-info">Add beverage</a>
    <a href="{{ url_for('beverage_club.new_beverage_batch') }}" class="btn btn-info">Add Beverage Batch</a>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% if beverages %}
                {% for beverage in beverages_4 %}
                    <div class="col-lg-3">
                        <form action="{{ url_for('beverage_club.buy_beverage', user_id=current_user.id) }}"
                              class="form-group" method="POST">
                            <div class="form-group">
                                {{ form.hidden_tag() }}
                            </div>
                            <button class="btn btn-block btn-info" name="beverage_id" id="beverage_id"
                                    value="{{ beverage.id }}">{{ beverage.name }}</button>
                        </form>
                    </div>
                {% endfor %}
            {% else %}
                There are no more beers, go buy some!
            {% endif %}
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-3">
                <div class="card bg-white">
                    <div class="card-body">
                        <h5 class="card-title">Choose another beverage</h5>

                        <select class="form-control" name="beverage" form="beverage_form">
                            <option value="-1" disabled selected>Select beverage</option>
                            {% for beverage in beverages %}
                                <option id="beverage_id" name="beverage_id"
                                        value="{{ beverage.id }}">{{ beverage.name }}</option>
                            {% endfor %}
                        </select>

                        <form action="{{ url_for('beverage_club.buy_beverage', user_id=current_user.id) }}"
                              class="form-group" method="POST" id="beverage_form">
                            <div class="form-group">
                                {{ form.hidden_tag() }}
                            </div>
                            <button class="btn btn-block btn-info">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card bg-white">
                    <div class="card-body">
                        <h5 class="card-title">Statistics</h5>
                        <h6 class="card-subtitle">Waow</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card bg-white">
                    <div class="card-body">
                        <h5 class="card-title">Some kind of graph</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'beverage_club/beveragepayees.html' %}
{% endblock %}
