{% extends 'site/base.html' %}

{% block title %}
    New Beverage
{% endblock %}

{% block jumbocontent %}
    <h1 class="display-4">Beverage</h1>
    <p>Here you can add new Beverage</p>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <form action="#" class="form-group" method="POST">
                <div class="form-group">
                    {{ form.hidden_tag() }}
                </div>
                <div class="form-group row">
                    <label for="topic" class="col-lg-3 col-form-label">Name</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" placeholder="Beverage Name" id="name" name="name"
                               required="required">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}