{% extends 'site/base.html' %}

{% block title %}Feedback{% endblock %}

{% block jumbocontent %}
    <h1 class="display-4">Feedback</h1>
    <p class="lead">Here you can submit a comment about a bug, an improvement or an idea to a new feature. </p>
    {#    <a href="{{ url_for('site.index') }}" class="btn btn-danger">Cancel</a>#}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card bg-white">
                    <div class="card-header">
                        {{ feedback.header }}
                    </div>
                    <div class="card-body">
                        {{ feedback_comments[0].comment }}
                    </div>
                </div>

                {% for feedback_comment in feedback_comments %}
                    <div class="card bg-white">
                        <div class="card-body">
                            {{ feedback_comment.comment }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}