{% extends 'site/base.html' %}

{% block title %}Feedback{% endblock %}

{% block jumbocontent %}
    <h1 class="display-4">Feedback</h1>
    <p class="lead">Here you can submit a comment about a bug, an improvement or an idea to a new feature. </p>
    <button class="btn btn-info" data-toggle="modal" data-target="#feedback_form">Add feedback</button>
    <a href="{{ url_for('site.index') }}" class="btn btn-danger">Cancel</a>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Status</th>
                        <th>Label</th>
                        <th>Title</th>
                    </tr>
                    {% if feedbacks %}
                        {% for feedback in feedbacks %}
                            <tr class="clickable-row"
                                data-href="{{ url_for('feedback.feedback', feedback_id=feedback.id) }}">
                                <td>{{ feedback.status.value }}</td>
                                <td>{{ feedback.label.value }}</td>
                                <td>{{ feedback.header }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <p>The are no issues at the moment</p>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% include 'feedback/new_feedback_form.html' %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}