{% extends 'site/base.html' %}

{% block title %}
    Dinner Club Meals, Overview
{% endblock %}

{% block jumbocontent %}
    <h1 class="display-3">Dinner meals</h1>
    <a href="{{ url_for('dinner_club.new') }}" class="btn btn-info">New meal</a>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="offset-lg-1 col-lg-8">
                <div class="card bg-white">
                    <div class="card-body">
                        <h5 class="card-title">Dinners</h5>
                        <table class="table" id="dinnerTable">
                            <tbody>
                            {% for dinner in dinners %}
                                <tr>
                                    <td class="text-muted">{{ dinner.date.strftime("%d/%m/%Y") }}</td>
                                    <td class="text-muted"><a
                                            href="{{ url_for('site.profile', user_id=dinner.payee_id) }}">{{ dinner.payee.name|truncate(15, True) }}</a>
                                    </td>
                                    <td class="text-muted">{{ dinner.guests|length + dinner.participants|length }}
                                        attended
                                    </td>
                                    <td class="text-muted">{{ dinner.dish_name }}</td>
                                    <td class="text-muted">{{ dinner.price }} kr.</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}