{% extends 'site/base.html' %}

{% block title %}
    Dinner Club Meals, Overview
{% endblock %}

{% block jumbocontent %}
    <h1 class="display-4">Dinner meals</h1>
    <p class="lead">List of dinner meals that haven't been accounted yet.</p>
    {% if current_user.active %}
        <a href="{{ url_for('dinner_club.new') }}" class="btn btn-info">New meal</a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                {% if latest_dinner %}
                    <div class="card bg-white">
                        <div class="card-body">
                            {% set g = latest_dinner.guests | sum(attribute='number_of_guests') %}
                            <h5 class="card-title">Most recent meal</h5>
                            <h6 class="card-subtitle text-muted">{{ latest_dinner.date.strftime('%d/%m/%Y') }}, {{ latest_dinner.payee.name|truncate(20, True) }}</h6>
                            <p class="card-text">On {{ latest_dinner.date.strftime('%A the %d. of %b') }}, we had
                                <b>{{ latest_dinner.dish_name }}</b> for dinner.</p>
                            <p class="card-text">{{ g + latest_dinner.participants|length }}
                                attended ({{ g }} guests).</p>

                            <p class="card-text">{{ latest_dinner.price }} kr.
                                ({{ (latest_dinner.price/(g + latest_dinner.participants|length))|round(2) }}
                                kr. pr. person)</p>
                        </div>
                    </div>
                {% else %}
                    <h5>No dinners registered yet.</h5>
                {% endif %}
            </div>
            <div class="col-lg-8">
                <div class="card bg-white">
                    <div class="card-body">
                        <h5 class="card-title">Meals</h5>
                        <table class="table" id="dinnerTable">
                            <tbody>
                            {% for dinner in dinners %}
                                {% set g = dinner.guests | sum(attribute='number_of_guests') %}
                                <tr class="clickable-row"
                                    data-href="{{ url_for('dinner_club.meal', dinner_id=dinner.id) }}">
                                    <td class="text-muted">{{ dinner.date.strftime("%d/%m/%Y") }}</td>
                                    <td class="text-muted">{{ dinner.payee.name|truncate(15, True) }}</td>
                                    <td class="text-muted">{{ g + dinner.participants|length }}
                                        attended
                                    </td>
                                    <td class="text-muted">{{ dinner.dish_name }}</td>
                                    <td class="text-muted">{{ dinner.price }} kr.</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {#        <hr>#}
        {#        <div id="calendar"></div>#}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/calendar.js') }}"></script>
    <script type="text/javascript">
        {#$(document).ready(calendarInit('month', moment().startOf('month').format('YYYY-MM-DD')));#}

        $(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}