{% extends 'site/base.html' %}

{% block title %}
    Dinner
{% endblock %}

{% block jumbocontent %}
    <h1 class="display-3">{{ dinner.dish_name }}</h1>

    <h5 class="text-muted">Chefs</h5>
    <ul class="list-unstyled">
        {% for chef in dinner.chefs %}
            <li class="text">{{ chef.name }}</li>
        {% endfor %}
    </ul>
    <h5 class="text-muted">Payee</h5>
    <p>{{ dinner.payee.name }}</p>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card bg-white">
                    <div class="card-body">
                        <h5 class="card-title">Most recent meal</h5>
                        <h6 class="card-subtitle text-muted">{{ dinner.date.strftime('%d/%m/%Y') }}, {{ dinner.payee.name|truncate(20, True) }}</h6>
                        <p class="card-text">On {{ dinner.date.strftime('%A the %d. of %b') }}, we had
                            <b>{{ dinner.dish_name }}</b> for dinner.</p>
                        <p class="card-text">{{ dinner.guests|length + dinner.participants|length }}
                            attended ({{ dinner.guests|length }} guests).</p>
                        <p class="card-text">{{ dinner.price }} kr.
                            ({{ dinner.price/(dinner.guests|length + dinner.participants|length) }}
                            kr. pr. person)</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card bg-white">
                    <div class="card-body">
                        <h5 class="card-title">Attendants</h5>
                        <table class="table" id="dinnerTable">
                            <tbody>
                            {% for participant in dinner.participants %}
                                <tr class="clickable-row"
                                    data-href="{{ url_for('site.profile', user_id=participant.id) }}">
                                    <td class="text-muted">{{ participant.name }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card bg-white">
                    <div class="card-body">
                        <h5 class="card-title">Guests</h5>
                        <table class="table">
                            <tbody>
                            {% for guest in dinner.guests %}
                                <tr class="clickable-row"
                                    data-href="{{ url_for('site.profile', user_id=guest.id) }}">
                                    <td class="text-muted">{{ guest.name }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}