{% extends 'site/base.html' %}

{% block title %}
    Dinner
{% endblock %}

{% block jumbocontent %}
    <h1 class="display-4">{{ dinner.dish_name }}</h1>

    <h5 class="text-muted text-white">Chefs</h5>
    <ul class="list-unstyled">
        {% for chef in dinner.chefs %}
            <li class="text">{{ chef.name }}</li>
        {% endfor %}
    </ul>
    <h5 class="text-muted text-white">Payee</h5>
    <p>{{ dinner.payee.name }}</p>
    {% if current_user == dinner.payee or current_user.admin %}
        <a href="{{ url_for('dinner_club.edit', dinner_id=dinner.id) }}" class="btn btn-info">Edit</a>
        <a href="{{ url_for('dinner_club.delete', dinner_id=dinner.id) }}" class="btn btn-danger">Delete</a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-group">
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Most recent meal</h5>
                            </div>
                            <div class="card-body">
                                {% set g = dinner.guests | sum(attribute='number_of_guests') %}
                                <h6 class="card-subtitle text-muted">{{ dinner.madtid.strftime('%d/%m/%Y') }}, {{ dinner.payee.name|truncate(20, True) }}</h6>
                                <p class="card-text">On {{ dinner.madtid.strftime('%A the %d. of %b') }}, we had
                                    <b>{{ dinner.dish_name }}</b> for dinner.</p>
                                <p class="card-text">{{ g + dinner.participants|length }}
                                    attended ({{ g }} guests).</p>
                                {% if dinner.participants|length > 0 %}
                                    <p class="card-text">{{ dinner.price }} kr.
                                        ({{ (dinner.price/(g + dinner.participants|length))|round(2) }}
                                        kr. pr. person)</p>
                                {% else %}
                                    <p class="card-text">Can't calculate price. There are no participants.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Attendants</h5>
                            </div>
                            <div class="card-body">
                                <table class="table" id="dinnerTable">
                                    <tbody>
                                    {% for participant in dinner.participants %}
                                        <tr class="clickable-row"
                                            data-href="{{ url_for('site.profile', user_id=participant.id) }}">
                                            <td class="text-muted">{{ participant.name }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Guests</h5>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <tbody>
                                    {% for guest in dinner.guests %}
                                        <tr class="clickable-row"
                                            data-href="{{ url_for('site.profile', user_id=guest.user_id) }}">
                                            <td class="text-muted">{{ guest.user.name }}</td>
                                            <td class="text-muted">{{ guest.number_of_guests }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}