<div class="col-lg-12 mb-2">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        {#
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        #}

        <div class="carousel-inner">
            {% for dinner in dinners_future_nochef %}
                {% if loop.index0 < 4 %}

                    {% if loop.index0 == 0 %}
                        <div class="carousel-item active">
                            <div class="row">
                    {% endif %}
                                <div class="col-lg-3">
                                    <div class="card bg-white">
                                        <div class="card-header bg-white">
                                            <h6 class="card-title">{{ dinner.madtid.strftime("%d/%m/%Y (%a)") }}</h6>
                                        </div>
                                        <div class="card-body">
                                            <a href="{{ url_for('dinner_club.become_payee', user_id=current_user.id,
                                                    dinner_id=dinner.id) }}" class="btn btn-info col-lg-12"
                                                    name="dinner_id" id="dinner_id"> Become chef </a>
{#                                            <br>#}
{#                                            <button class="btn">Can't participate</button>#}
                                        </div>
                                    </div>
                                </div>
                    {% if loop.index0 == 3 or loop.last %}
                            </div>
                        </div>
                    {% endif %}

                {% else %}

                    {% if loop.index0 == 4 %} {# This is the start of the ten elements #}
                        <div class="carousel-item">
                            <div class="row">
                    {% endif %}
                                <div class="col-lg-3">
                                    <div class="card bg-white">
                                        <div class="card-header bg-white">
                                            <h6 class="card-title">{{ dinner.madtid.strftime("%d/%m/%Y (%a)") }}</h6>
                                        </div>
                                        <div class="card-body">
                                            <a href="{{ url_for('dinner_club.become_payee', user_id=current_user.id,
                                                    dinner_id=dinner.id) }}" class="btn btn-info col-lg-12"
                                                    name="dinner_id" id="dinner_id"> Become chef </a>
{#                                            <br>#}
{#                                            <button class="btn">Can't participate</button>#}
                                        </div>
                                    </div>
                                </div>
                    {% if loop.index0 == 5 or loop.last %} {# This is the end of the ten elements #}
                            </div>
                        </div>
                    {% endif %}

                {% endif %}
            {% endfor %}
        </div>
      <!--  {#        {% if dinners_future_nochef|length > 10 %}#}
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        {#        {% endif %}#}-->
    </div>
</div>