<div class="col-lg-3">
    <div class="card bg-white">
        <div class="card-header bg-white">
            <h6 class="card-title">{{ dinner.madtid.strftime("%d/%m/%Y (%a)") }}</h6>
        </div>
        <div class="card-body">
            <a href="{{ url_for('dinner_club.become_payee', user_id=current_user.id,
                                                dinner_id=dinner.id) }}" class="btn btn-info col-lg-12 mb-2"
               name="dinner_id" id="dinner_id"> Become chef </a>
            <br>
            {# This monster of statements is here because of issue 91 #}
            {% for dinner_p in dinners_future_p %}
                {% if dinner.id == dinner_p.id %}
                    {% if current_user in dinner_p.participants %}
                        <a href="{{ url_for('dinner_club.participate', user_id=current_user.id,
                                                    dinner_id=dinner.id) }}"
                           class="btn btn-danger col-lg-12 mb-2" name="dinner_id" id="dinner_id">
                            Can't Participate
                        </a>
                    {% else %}
                        <a href="{{ url_for('dinner_club.participate', user_id=current_user.id,
                                                    dinner_id=dinner.id) }}"
                           class="btn btn-info col-lg-12" name="dinner_id" id="dinner_id">
                            Participate
                        </a>
                    {% endif %}
                    {% if current_user.admin %}
                        <a href="{{ url_for('dinner_club.delete', dinner_id=dinner.id) }}" class="btn btn-danger col-lg-12">Delete: {{ dinner.id }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>