{% extends 'site/base.html' %}

{% block title %}
    Kitchen meeting, Overview
{% endblock %}

{% block jumbocontent %}
    <h1 class="display-4">Kitchen meeting</h1>
    <p class="lead">Here all topics will be listed</p>
{% endblock %}

{% block content %}
    {% if current_user.active %}
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="card bg-white">
                        <div class="card-body">
                            <h5 class="card-title">Next meeting</h5>
                            {% if event %}
                                <h6 class="card-subtitle">{{ event.date | datetime() }}</h6>
                            {% else %}
                                <h6 class="card-subtitle">No meeting arranged, schedule one now!</h6>
                            {% endif %}
                        </div>
                        {% if current_user.active %}
                            <div class="card-footer">
                                {% if event %}
                                    <a class="btn btn-info btn-md"
                                       href="{{ url_for('kitchen_meeting.execute_meeting') }}">Resolve meeting
                                    </a>
                                {% else %}
                                    <button class="btn btn-info btn-md" data-toggle="modal"
                                            data-target="#createnewmeeting">Schedule meeting
                                    </button>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="card bg-white">
                        <div class="card-body">
                            <h5 class="card-title">Meeting Topics</h5>
                            <table class="table table-hover">
                                <tbody>
                                {% for topic in topics %}
                                    <tr title="{{ topic.description }}">
                                        <td style="width: 20%" class="text-muted">{{ topic.topic }}</td>
                                        <td style="width: 55%"
                                            class="text-muted">{{ topic.description | truncate(50) }}</td>
                                        <td style="width: 25%" class="text-muted"><a
                                                href="{{ url_for('site.profile', user_id=topic.user.id) }}">{{ topic.user.name }}
                                        </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <div class="text-right">
                                <button class="btn btn-info btn-md" data-toggle="modal"
                                        data-target="#create_new_topic">Add topic
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 2 -->
        {% include 'kitchen_meeting/new_topic.html' %}

        <!-- Modal for creating new kitchen meeting -->
        {% if not event %}
            {% include 'kitchen_meeting/new_meeting.html' %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $('#date').datepicker({
            uiLibrary: 'bootstrap4',
            format: "dd/mm/yyyy",
            todayBtn: "linked",
            language: "da",
            calendarWeeks: true,
            autoclose: true
        });
    </script>
{% endblock %}




